@use "@/assets/variables.scss" as *;

@mixin blue-fill-btn {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 100%;
  height: 48px;
  padding: 16px;

  border-radius: 99px;
  background: $blue-color;
  color: $white-primary;

  cursor: pointer;

  &:hover {
    background: #3F90F9;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

@mixin gray-inline-btn {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 100%;
  height: 48px;
  padding: 16px;

  border-radius: 99px;
  background: transparent;
  color: rgba($black-primary, 0.6);
  border: 1px solid rgba($black-primary, 0.1);

  cursor: pointer;

  & > img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
  }

  &:hover {
    color: rgba($black-primary, 0.8);
    border: 1px solid rgba($black-primary, 0.2);

    & > img {
      opacity: 0.8;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}