@use "@/assets/variables.scss" as *;
@mixin base-btn {
  @include button-text;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 100%;
  height: 48px;
  padding: 16px;

  border-radius: 99px;
  cursor: pointer;
  
  & > img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

@mixin blue-fill-btn {
  @include base-btn;

  background: $blue-color;
  color: $white-primary;

  &:hover {
    background: #3F90F9;
  }
}

@mixin inline-btn {
  @include base-btn;

  background: transparent;
  color: rgba($black-primary, 0.6);
  border: 1px solid rgba($black-primary, 0.1);

  &:hover {
    color: rgba($black-primary, 0.8);
    border: 1px solid rgba($black-primary, 0.2);

    & > img {
      opacity: 0.8;
    }
  }

  &.red {
    color: rgba($red-color, 0.6);
    border: 1px solid rgba($red-color, 0.6);

    &:hover {
      color: rgba($red-color, 0.8);
      border: 1px solid rgba($red-color, 0.8);

      & > img {
        opacity: 0.8;
      }
    }
  }
}

@mixin gray-fill-btn {
  @include base-btn;
  background: $gray-primary;
  color: rgba($black-primary, 0.8);

  & > img {
    opacity: 0.8;
  }
  &:hover {
    background: rgba($black-primary, 0.05)
  }
}

@mixin gray-icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 42px;
  min-width: 42px;

  border-radius: 99px;
  border: 1px solid rgba($black-primary, 0.1);
  background: $gray-primary;

  cursor: pointer;

  & > img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
  }

  &:hover {
    border-color: rgba($black-primary, 0.15);

    & > img {
      opacity: 0.7;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

