@use "@/assets/variables.scss" as *;

@mixin st-inline-input {
  @include input-text;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  padding: 16px;
  text-overflow: ellipsis;

  background-color: transparent;
  border: 1px solid rgba($black-primary, 0.1);
  border-radius: 48px;
  color: $black-primary;

  transition: border 200ms;

  &::placeholder {
    color: rgba($black-primary, 0.3);
  }

  &.password {
    padding-right: 48px;
  }

  &:focus {
    border-color: $blue-color !important;
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.4 !important;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $black-primary;
    background-color: transparent;
    font-size: 16px !important;
  }
}

@mixin code-input {
  @include h4-text;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  caret-color: transparent;

  width: 48px;
  height: 48px;

  color: $black-primary;
  border: 1px solid rgba($black-primary, 0.1);
  border-radius: 8px;
  transition: border 200ms;

  cursor: pointer;

  &::placeholder {
    transition: 100ms;
    color: rgba($black-primary, 0.3);
  }

  &:hover {
    border-color: rgba($black-primary, 0.2);
    &::placeholder {
      color: rgba($black-primary, 0.4);
    }
  }

  &:focus {
    border-color: $blue-color !important;
    transform: scale(1.05);
  }
}