$black-primary: #151414;
$white-primary: #FEFEFE;
$gray-primary: #F6F6F6;
$red-color: #E62720;
$blue-color: #5BA2FF;

@mixin tag-text {
  font-size: 14px;
}

@mixin button-text {
  font-size: 16px;
  font-weight: 500;
}

@mixin input-text {
  font-size: 16px;
}

@mixin main-text {
  font-size: 18px;
}

@mixin h5-text {
  font-size: 20px;
  font-weight: 400;
}

@mixin h4-text {
  font-size: 22px;
  font-weight: 600;
}

@mixin h2-text {
  font-size: 28px;
  font-weight: 400;
}

@mixin h1-text {
  font-size: 42px;
  font-weight: 400;
}