@use 'variables';

@font-face {
  font-family: Inter;
  src: url("public/fonts/Inter_18pt-Regular.ttf") format("opentype");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: Inter;
  src: url("public/fonts/Inter_18pt-Medium.ttf") format("opentype");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: Inter;
  src: url("public/fonts/Inter_18pt-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-display: block;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  color: $black-primary;

  overflow: hidden;

  background: $white-primary;
}

.required {
  color: $red-color;
}

h1, h2, h4, p {
  color: $black-primary;
}
* {
  line-height: 1.5;
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 100ms;
}


/* Links */

a, a:link, a:visited  {
  text-decoration: none;
  color: $black-primary;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}


ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */

input, textarea, button, select {
  color: $black-primary;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='file'] {
  max-width: 100%;
}